{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}

{% block top %}
    <h1>User Preferences</h1>
{% endblock top %}

{% block content %}
    <form action="{% url sweetter.ublogging.views.profile %}" method="post">
        <fieldset>
        <legend>Sweetter 3.0 options</legend>
        
            <label for="apikey">Apikey:</label>
            <div id="apikey">
                {{apikey}}
                <a href="renewapikey">renew apikey</a>
            </div>

            <label for="email">email:</label>
            <input type="text" id="email" name="email" value="{{user.email}}"/>

            <label for="url">url:</label>
            <input type="text" id="url" name="url" value="{{user_profile.url}}"/>

            <label for="location">location:</label>
            <input type="text" id="location" name="location" value="{{user_profile.location}}"/>

            <label for="pw">Password:</label>
            <input type="password" id="pw" name="pw" value=""/>
            <label for="pw2">Password confirmation:</label>
            <input type="password" id="pw2" name="pw2" value=""/>
            <div id="pw_info"></div>

        </fieldset>

        {% for key, opts in options.items %}
            <fieldset>
            <legend>{{ key }}</legend>

                {% for opt in opts %}
                    <label for="{{opt.id}}">{{opt.label}}:</label>
                    <input type="{{opt.type}}" id="{{opt.id}}" 
                           name="{{opt.id}}" value="{{opt.value}}"

                    {% ifequal opt.type "checkbox" %}
                        {% if opt.value %}
                            checked="checked"
                        {% endif %}
                    {% endifequal %}

                    />
                {% endfor %}

            </fieldset>
        {% endfor %}

        <input class="button" type="submit" value="Save" />

    </form>
{% endblock content %}
