{% extends "base.html" %}
{% load grouptags %}
{% load sweettags %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="avatar">
        {% comment %} TODO: QUITAR EL /static/ {% endcomment %}
        <img src="/static/{{ object.icon.url }}" alt="{{ object.name }}" title="{{ object.name }}"
            width="60px" height="60px"/>
    </div>
<h1><a href="{% url contrib.groups.views.messages object.name %}">{{ object.name }}</a></h1>
<a href="{% url contrib.groups.views.join object.name %}">{{ join_message }}</a>
{% for profile in object.users.all %}
            <div class="avatar">
                <img src="{% gravatar profile.user.email %}" alt="{{ profile.user.username }}" title="{{profile.user.username }}"/>
            </div>
{% endfor %}


{% endblock content %}
