body { 
}

#title {
    font-weight: bold;
    color: #00F;
    width: 70%;
    height:70px;
    margin: 0 auto;
}
    #title h1 {
        background:url('logo.png') no-repeat;
        padding: 120px;
    }
#wrapper {
    width: 70%;
    margin: 0 auto;
}

    #wrapper #links li{
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
    

    #wrapper #top {
        
    }

        #wrapper #top textarea{
            width:100%;
        }
    
    #wrapper #content {
        float:left;
        width:70%;
        padding: 15px;
    }
        #wrapper #content  div.pagination{
            clear:both;
            float:none;
            margin:0 auto;
            text-align:center;
            border: 1px solid #000;
        }
        
    #wrapper #sidebar{
        float:left;
        width:25%;
        padding: 15px 5px;
        border: 1px solid #000;
    }

#footer {
    width: 70%;
    margin: 0 auto;
    clear: both;
    text-align: center;
}


.sweet {
    border: 1px solid #000;
    background: #ff9;
    clear:both;
}
    .sweet div {
        float: left;
        padding: 10px;
    }
    .sweet div.tools {
        float:right;
    }
    .sweet div.date {
        clear:both;
        padding: 3px;
        font-size: small; 
        color: #888;
    }
.avatar {
    float:left;
    padding: 5px;
}
.group {
    clear:both;
}
    .group .text {
        padding:15px;    
    }