{% extends "base.html" %}
{% load sweettags %}

{% block top %}
{% if user.is_authenticated %}
<form action="status/new/" method="post">
	<textarea maxlength="140" name="text" id="text"></textarea>
	<input type="submit" value="Post!" />
</form>
{% endif %}
{% endblock top %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if latest_post_list %}
    <div id="sweets">
        {% for post in latest_post_list %}            
            {% format_sweet post %}
        {% endfor %}
    </div>
{% else %}
    <p>No posts are available.</p>
{% endif %}

{% endblock content %}