{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% load sweettags %}

{% block top %}
{% if user.is_authenticated %}
<form action="{% url sweetter.ublogging.views.new %}" method="post">
	<textarea maxlength="140" name="text" id="text"></textarea>
    <span id="counter">140</span>
    <div id="hc" class="hide">140</div>
	<input class="button" type="submit" value="Post!" />
</form>
{% endif %}
{% endblock top %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if latest_post_list %}
    <div id="sweets">
        {% for post in latest_post_list.object_list %}            
            {% format_sweet post  %}
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if latest_post_list.has_previous %}
                <a href="?page={{ latest_post_list.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ latest_post_list.number }} of {{ latest_post_list.paginator.num_pages }}.
            </span>

            {% if latest_post_list.has_next %}
                <a href="?page={{ latest_post_list.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No posts are available.</p>
{% endif %}

{% endblock content %}
