{% load sweettags %}

<div class="sweet" id="{{post.id}}">
    <div class="avatar">
        <a href="{% url ublogging.views.user post.user.username %}">
            <img src="{% gravatar post.user.email %}" alt="{{ post.user.username }}" title="{{ post.user.username }}"/>
        </a>
    </div>

    <div class="tools">
        {% tools post context %}
    </div>
    <div class="sweet-text">
        <span class="username"><a href="{% url ublogging.views.user post.user.username %}">{{ post.user.username }}</a></span> said: <br/>
        <span class="text">{{ post.text|force_escape|parse|safe|urlizetrunc:31 }}</span>
        <div class="date"><a href="/sweetter/sweet/{{post.id}}">{{ post.pub_date|timesince }} ago</a></div>
    </div>

</div>
