{% load sweettags %}


<div class="sweet">
    <div class="avatar">
        <img src="{% gravatar post.user.email %}" alt="{{ post.user.username }}" title="{{ post.user.username }}"/>
    </div>

    <div class="tools">
        {% tools post context %}
    </div>
    <div class="sweet-text">
        <span class="username"><a href="{% url sweetter.ublogging.views.user post.user.username %}">{{ post.user.username }}</a></span> said: <br/> 
        <span class="text">{{ post.text|force_escape|parse|safe }}</span>
        <div class="date">{{ post.pub_date|timesince }} ago</div>
    </div>

</div>
