#login { 
    background: url("../images/login-bg.png") no-repeat; 
    width: 974px;    
    height: 487px;
    padding-top: 240px;
    padding-left: 60px;
    margin: 0 auto 0 auto;
}

#wrapper{
    background: transparent;
}

input {
    display: inline;
}
